.Game{
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 100%;
    text-align: center;
    > div
    {
        flex: 1;
        padding: 0 5px;
    }
    .home, .away{
        img{
            max-height: 50px;
            display: block;
            margin: 0 auto 6px;
        }
        font-weight: bold;
    }
    .content{
        color: #bbb;
        white-space: nowrap;
        .score{
            font-weight: bold;
            color: #000;
            font-size: 3rem;
        }
    }
    p{
        margin-bottom: 0 !important;
    }
}
